@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7w9rpt');
	src:url('fonts/icomoon.eot?#iefix7w9rpt') format('embedded-opentype'),
		url('fonts/icomoon.woff?7w9rpt') format('woff'),
		url('fonts/icomoon.ttf?7w9rpt') format('truetype'),
		url('fonts/icomoon.svg?7w9rpt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
	content: "\e064";
}

.icon-paper-clip:before {
	content: "\e065";
}

.icon-mail:before {
	content: "\e066";
}

.icon-toggle:before {
	content: "\e067";
}

.icon-layout:before {
	content: "\e069";
}

.icon-link:before {
	content: "\e06a";
}

.icon-bell:before {
	content: "\e06b";
}

.icon-lock2:before {
	content: "\e06c";
}

.icon-unlock:before {
	content: "\e06d";
}

.icon-ribbon2:before {
	content: "\e06e";
}

.icon-image:before {
	content: "\e06f";
}

.icon-signal:before {
	content: "\e070";
}

.icon-target22:before {
	content: "\e071";
}

.icon-clipboard2:before {
	content: "\e072";
}

.icon-clock22:before {
	content: "\e073";
}

.icon-watch:before {
	content: "\e074";
}

.icon-air-play:before {
	content: "\e075";
}

.icon-camera22:before {
	content: "\e076";
}

.icon-video2:before {
	content: "\e077";
}

.icon-disc:before {
	content: "\e078";
}

.icon-printer22:before {
	content: "\e079";
}

.icon-monitor:before {
	content: "\e07a";
}

.icon-server:before {
	content: "\e07b";
}

.icon-cog:before {
	content: "\e07c";
}

.icon-heart22:before {
	content: "\e07d";
}

.icon-paragraph:before {
	content: "\e07e";
}

.icon-align-justify:before {
	content: "\e07f";
}

.icon-align-left:before {
	content: "\e080";
}

.icon-align-center:before {
	content: "\e081";
}

.icon-align-right:before {
	content: "\e082";
}

.icon-book:before {
	content: "\e083";
}

.icon-layers2:before {
	content: "\e084";
}

.icon-stack:before {
	content: "\e085";
}

.icon-stack-2:before {
	content: "\e086";
}

.icon-paper:before {
	content: "\e087";
}

.icon-paper-stack:before {
	content: "\e088";
}

.icon-search22:before {
	content: "\e089";
}

.icon-zoom-in:before {
	content: "\e08a";
}

.icon-zoom-out:before {
	content: "\e08b";
}

.icon-reply:before {
	content: "\e08c";
}

.icon-circle-plus:before {
	content: "\e08d";
}

.icon-circle-minus:before {
	content: "\e0b7";
}

.icon-circle-check:before {
	content: "\e0b8";
}

.icon-circle-cross:before {
	content: "\e0b9";
}

.icon-square-plus:before {
	content: "\e0ba";
}

.icon-square-minus:before {
	content: "\e0bb";
}

.icon-square-check:before {
	content: "\e0bc";
}

.icon-square-cross:before {
	content: "\e0c0";
}

.icon-microphone:before {
	content: "\e0c1";
}

.icon-record:before {
	content: "\e0c8";
}

.icon-skip-back:before {
	content: "\e0c9";
}

.icon-rewind:before {
	content: "\e0ca";
}

.icon-play:before {
	content: "\e0cb";
}

.icon-pause:before {
	content: "\e0cc";
}

.icon-stop:before {
	content: "\e0cd";
}

.icon-fast-forward:before {
	content: "\e0ce";
}

.icon-skip-forward:before {
	content: "\e0cf";
}

.icon-shuffle:before {
	content: "\e0d0";
}

.icon-repeat:before {
	content: "\e0d1";
}

.icon-folder:before {
	content: "\e0d2";
}

.icon-umbrella:before {
	content: "\e0d3";
}

.icon-moon:before {
	content: "\e0d4";
}

.icon-thermometer:before {
	content: "\e0d5";
}

.icon-drop:before {
	content: "\e0d6";
}

.icon-sun:before {
	content: "\e0d7";
}

.icon-cloud22:before {
	content: "\e0d8";
}

.icon-cloud-upload:before {
	content: "\e0d9";
}

.icon-cloud-download:before {
	content: "\e0da";
}

.icon-upload22:before {
	content: "\e0db";
}

.icon-download22:before {
	content: "\e0dc";
}

.icon-location:before {
	content: "\e0dd";
}

.icon-location-2:before {
	content: "\e0de";
}

.icon-map2:before {
	content: "\e0df";
}

.icon-battery:before {
	content: "\e0e0";
}

.icon-head:before {
	content: "\e0e1";
}

.icon-briefcase2:before {
	content: "\e0e2";
}

.icon-speech-bubble:before {
	content: "\e0e3";
}

.icon-anchor2:before {
	content: "\e0e4";
}

.icon-globe2:before {
	content: "\e0e5";
}

.icon-box:before {
	content: "\e0e6";
}

.icon-reload:before {
	content: "\e0e7";
}

.icon-share:before {
	content: "\e0e8";
}

.icon-marquee:before {
	content: "\e0e9";
}

.icon-marquee-plus:before {
	content: "\e0ea";
}

.icon-marquee-minus:before {
	content: "\e0ec";
}

.icon-tag:before {
	content: "\e0ed";
}

.icon-power:before {
	content: "\e0ee";
}

.icon-command:before {
	content: "\e0ef";
}

.icon-alt:before {
	content: "\e0f0";
}

.icon-esc:before {
	content: "\e0f1";
}

.icon-bar-graph:before {
	content: "\e0f2";
}

.icon-bar-graph-2:before {
	content: "\e0f3";
}

.icon-pie-graph:before {
	content: "\e0f4";
}

.icon-star:before {
	content: "\e0f5";
}

.icon-arrow-left:before {
	content: "\e0f7";
}

.icon-arrow-right:before {
	content: "\e0f9";
}

.icon-arrow-up:before {
	content: "\e0fa";
}

.icon-arrow-down:before {
	content: "\e0fb";
}

.icon-volume:before {
	content: "\e0fc";
}

.icon-mute:before {
	content: "\e0fd";
}

.icon-content-right:before {
	content: "\e103";
}

.icon-content-left:before {
	content: "\e104";
}

.icon-grid2:before {
	content: "\e105";
}

.icon-grid-2:before {
	content: "\e106";
}

.icon-columns:before {
	content: "\e107";
}

.icon-loader:before {
	content: "\e108";
}

.icon-bag:before {
	content: "\e109";
}

.icon-ban:before {
	content: "\e10a";
}

.icon-flag22:before {
	content: "\e10b";
}

.icon-trash:before {
	content: "\e10c";
}

.icon-expand2:before {
	content: "\e110";
}

.icon-contract:before {
	content: "\e111";
}

.icon-maximize:before {
	content: "\e112";
}

.icon-minimize:before {
	content: "\e113";
}

.icon-plus:before {
	content: "\e114";
}

.icon-minus:before {
	content: "\e115";
}

.icon-check:before {
	content: "\e116";
}

.icon-cross:before {
	content: "\e117";
}

.icon-move:before {
	content: "\e118";
}

.icon-delete:before {
	content: "\e119";
}

.icon-menu:before {
	content: "\e120";
}

.icon-archive:before {
	content: "\e121";
}

.icon-inbox:before {
	content: "\e122";
}

.icon-outbox:before {
	content: "\e123";
}

.icon-file:before {
	content: "\e124";
}

.icon-file-add:before {
	content: "\e125";
}

.icon-file-subtract:before {
	content: "\e126";
}

.icon-help:before {
	content: "\e127";
}

.icon-open:before {
	content: "\e128";
}

.icon-ellipsis:before {
	content: "\e129";
}

.icon-uni150:before {
	content: "\150";
}

.icon-uni151:before {
	content: "\151";
}

.icon-uni152:before {
	content: "\152";
}

.icon-uni153:before {
	content: "\153";
}

.icon-uni154:before {
	content: "\154";
}

.icon-uni155:before {
	content: "\155";
}

.icon-uni156:before {
	content: "\156";
}

.icon-uni157:before {
	content: "\157";
}

.icon-uni158:before {
	content: "\158";
}

.icon-uni159:before {
	content: "\159";
}

.icon-uni15A:before {
	content: "\15a";
}

.icon-uni15B:before {
	content: "\15b";
}

.icon-uni15C:before {
	content: "\15c";
}

.icon-uni15D:before {
	content: "\15d";
}

.icon-uni15E:before {
	content: "\15e";
}

.icon-uni15F:before {
	content: "\15f";
}

.icon-uni160:before {
	content: "\160";
}

.icon-uni161:before {
	content: "\161";
}

.icon-uni162:before {
	content: "\162";
}

.icon-uni163:before {
	content: "\163";
}

.icon-uni164:before {
	content: "\164";
}

.icon-uni165:before {
	content: "\165";
}

.icon-uni166:before {
	content: "\166";
}

.icon-uni167:before {
	content: "\167";
}

.icon-uni168:before {
	content: "\168";
}

.icon-uni169:before {
	content: "\169";
}

.icon-uni16A:before {
	content: "\16a";
}

.icon-uni16B:before {
	content: "\16b";
}

.icon-uni16C:before {
	content: "\16c";
}

.icon-uni16D:before {
	content: "\16d";
}

.icon-uni16E:before {
	content: "\16e";
}

.icon-uni16F:before {
	content: "\16f";
}

.icon-uni170:before {
	content: "\170";
}

.icon-uni171:before {
	content: "\171";
}

.icon-uni172:before {
	content: "\172";
}

.icon-uni173:before {
	content: "\173";
}

.icon-uni174:before {
	content: "\174";
}

.icon-uni175:before {
	content: "\175";
}

.icon-uni176:before {
	content: "\176";
}

.icon-uni177:before {
	content: "\177";
}

.icon-uni178:before {
	content: "\178";
}

.icon-uni179:before {
	content: "\179";
}

.icon-uni17A:before {
	content: "\17a";
}

.icon-uni17B:before {
	content: "\17b";
}

.icon-uni17C:before {
	content: "\17c";
}

.icon-uni17D:before {
	content: "\17d";
}

.icon-uni17E:before {
	content: "\17e";
}

.icon-uni17F:before {
	content: "\17f";
}

.icon-uni180:before {
	content: "\180";
}

.icon-uni181:before {
	content: "\181";
}

.icon-uni182:before {
	content: "\182";
}

.icon-uni183:before {
	content: "\183";
}

.icon-uni184:before {
	content: "\184";
}

.icon-uni185:before {
	content: "\185";
}

.icon-uni186:before {
	content: "\186";
}

.icon-uni187:before {
	content: "\187";
}

.icon-uni188:before {
	content: "\188";
}

.icon-uni189:before {
	content: "\189";
}

.icon-uni18A:before {
	content: "\18a";
}

.icon-uni18B:before {
	content: "\18b";
}

.icon-uni18C:before {
	content: "\18c";
}

.icon-uni18D:before {
	content: "\18d";
}

.icon-uni18E:before {
	content: "\18e";
}

.icon-uni18F:before {
	content: "\18f";
}

.icon-uni190:before {
	content: "\190";
}

.icon-uni191:before {
	content: "\191";
}

.icon-uni192:before {
	content: "\192";
}

.icon-uni193:before {
	content: "\193";
}

.icon-uni194:before {
	content: "\194";
}

.icon-uni195:before {
	content: "\195";
}

.icon-uni196:before {
	content: "\196";
}

.icon-uni197:before {
	content: "\197";
}

.icon-uni198:before {
	content: "\198";
}

.icon-uni199:before {
	content: "\199";
}

.icon-uni19A:before {
	content: "\19a";
}

.icon-uni19B:before {
	content: "\19b";
}

.icon-uni19C:before {
	content: "\19c";
}

.icon-uni19D:before {
	content: "\19d";
}

.icon-uni19E:before {
	content: "\19e";
}

.icon-uni19F:before {
	content: "\19f";
}

.icon-uni1A0:before {
	content: "\1a0";
}

.icon-uni1A1:before {
	content: "\1a1";
}

.icon-uni1A2:before {
	content: "\1a2";
}

.icon-uni1A3:before {
	content: "\1a3";
}

.icon-uni1A4:before {
	content: "\1a4";
}

.icon-uni1A5:before {
	content: "\1a5";
}

.icon-uni1A6:before {
	content: "\1a6";
}

.icon-uni1A7:before {
	content: "\1a7";
}

.icon-uni1A8:before {
	content: "\1a8";
}

.icon-uni1A9:before {
	content: "\1a9";
}

.icon-uni1AA:before {
	content: "\1aa";
}

.icon-uni1AB:before {
	content: "\1ab";
}

.icon-uni1AC:before {
	content: "\1ac";
}

.icon-uni1AD:before {
	content: "\1ad";
}

.icon-uniE08E:before {
	content: "\e08e";
}

.icon-uniE08F:before {
	content: "\e08f";
}

.icon-uniE090:before {
	content: "\e090";
}

.icon-uniE091:before {
	content: "\e091";
}

.icon-uniE092:before {
	content: "\e092";
}

.icon-uniE093:before {
	content: "\e093";
}

.icon-uniE094:before {
	content: "\e094";
}

.icon-uniE095:before {
	content: "\e095";
}

.icon-uniE096:before {
	content: "\e096";
}

.icon-uniE097:before {
	content: "\e097";
}

.icon-uniE098:before {
	content: "\e098";
}

.icon-uniE099:before {
	content: "\e099";
}

.icon-uniE09A:before {
	content: "\e09a";
}

.icon-uniE09B:before {
	content: "\e09b";
}

.icon-uniE09C:before {
	content: "\e09c";
}

.icon-uniE09D:before {
	content: "\e09d";
}

.icon-uniE09E:before {
	content: "\e09e";
}

.icon-uniE09F:before {
	content: "\e09f";
}

.icon-uniE0A0:before {
	content: "\e0a0";
}

.icon-uniE0A1:before {
	content: "\e0a1";
}

.icon-uniE0A2:before {
	content: "\e0a2";
}

.icon-uniE0A3:before {
	content: "\e0a3";
}

.icon-uniE0A4:before {
	content: "\e0a4";
}

.icon-uniE0A5:before {
	content: "\e0a5";
}

.icon-uniE0A6:before {
	content: "\e0a6";
}

.icon-uniE0A7:before {
	content: "\e0a7";
}

.icon-uniE0A8:before {
	content: "\e0a8";
}

.icon-uniE0A9:before {
	content: "\e0a9";
}

.icon-uniE0AA:before {
	content: "\e0aa";
}

.icon-uniE0AB:before {
	content: "\e0ab";
}

.icon-uniE0AC:before {
	content: "\e0ac";
}

.icon-uniE0AD:before {
	content: "\e0ad";
}

.icon-uniE0AE:before {
	content: "\e0ae";
}

.icon-uniE0AF:before {
	content: "\e0af";
}

.icon-uniE0B0:before {
	content: "\e0b0";
}

.icon-uniE0B1:before {
	content: "\e0b1";
}

.icon-uniE0B2:before {
	content: "\e0b2";
}

.icon-uniE0B3:before {
	content: "\e0b3";
}

.icon-uniE0B4:before {
	content: "\e0b4";
}

.icon-uniE0B5:before {
	content: "\e0b5";
}

.icon-uniE0B6:before {
	content: "\e0b6";
}

.icon-box2:before {
	content: "\e600";
}

.icon-write:before {
	content: "\e601";
}

.icon-clock2:before {
	content: "\e602";
}

.icon-reply2:before {
	content: "\e603";
}

.icon-reply-all:before {
	content: "\e604";
}

.icon-forward:before {
	content: "\e605";
}

.icon-flag2:before {
	content: "\e606";
}

.icon-search2:before {
	content: "\e607";
}

.icon-trash2:before {
	content: "\e608";
}

.icon-envelope:before {
	content: "\e609";
}

.icon-bubble:before {
	content: "\e60a";
}

.icon-bubbles:before {
	content: "\e60b";
}

.icon-user:before {
	content: "\e60c";
}

.icon-users:before {
	content: "\e60d";
}

.icon-cloud2:before {
	content: "\e60e";
}

.icon-download2:before {
	content: "\e60f";
}

.icon-upload2:before {
	content: "\e610";
}

.icon-rain:before {
	content: "\e611";
}

.icon-sun2:before {
	content: "\e612";
}

.icon-moon2:before {
	content: "\e613";
}

.icon-bell2:before {
	content: "\e614";
}

.icon-folder2:before {
	content: "\e615";
}

.icon-pin:before {
	content: "\e616";
}

.icon-sound:before {
	content: "\e617";
}

.icon-microphone2:before {
	content: "\e618";
}

.icon-camera2:before {
	content: "\e619";
}

.icon-image2:before {
	content: "\e61a";
}

.icon-cog2:before {
	content: "\e61b";
}

.icon-calendar:before {
	content: "\e61c";
}

.icon-book2:before {
	content: "\e61d";
}

.icon-map-marker:before {
	content: "\e61e";
}

.icon-store:before {
	content: "\e61f";
}

.icon-support:before {
	content: "\e620";
}

.icon-tag2:before {
	content: "\e621";
}

.icon-heart2:before {
	content: "\e622";
}

.icon-video-camera:before {
	content: "\e623";
}

.icon-trophy:before {
	content: "\e624";
}

.icon-cart:before {
	content: "\e625";
}

.icon-eye2:before {
	content: "\e626";
}

.icon-cancel:before {
	content: "\e627";
}

.icon-chart:before {
	content: "\e628";
}

.icon-target2:before {
	content: "\e629";
}

.icon-printer2:before {
	content: "\e62a";
}

.icon-location2:before {
	content: "\e62b";
}

.icon-bookmark:before {
	content: "\e62c";
}

.icon-monitor2:before {
	content: "\e62d";
}

.icon-cross2:before {
	content: "\e62e";
}

.icon-plus2:before {
	content: "\e62f";
}

.icon-left:before {
	content: "\e630";
}

.icon-up:before {
	content: "\e631";
}

.icon-browser:before {
	content: "\e632";
}

.icon-windows:before {
	content: "\e633";
}

.icon-switch:before {
	content: "\e634";
}

.icon-dashboard:before {
	content: "\e635";
}

.icon-play2:before {
	content: "\e636";
}

.icon-fast-forward2:before {
	content: "\e637";
}

.icon-next:before {
	content: "\e638";
}

.icon-refresh:before {
	content: "\e639";
}

.icon-film:before {
	content: "\e63a";
}

.icon-home:before {
	content: "\e63b";
}

