a ,
.profile-info ul li span a:hover ,
.services-content:hover i {
    color: #9790EF;
}

.sidebar-nav li a:hover ,
.skill-bar span ,
#education ,
#services ,
#cta-wrap {
    background: #9790EF;
}

.folio-filter li a:hover, .folio-filter li a.selected {
    color: #9790EF;
    border: 1px solid #9790EF;
}
